# Arquivos de Sistema Operacional
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Diretórios de dependências (MUITO IMPORTANTE)
node_modules/
venv/

# Pasta de build do React Native / Android / iOS
android/build/
android/app/build/
android/.gradle/
ios/build/

# Arquivos gerados pelo React Native
.project
.idea
*.iml
*.hprof

# Arquivos de cache do Python
__pycache__/
*.py[cod]
*$py.class

# Arquivos de ambiente (para guardar senhas, chaves de API, etc.)
.env
.env.*

# Arquivos de editores de código
.vscode/